.ubside-layout-full-record-content {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding-left: 110px;
  position: relative;
  width: 100%;
}

.ubside-layout-full-record-region {
  overflow: hidden;
}

.ubside-layout-full-record-region-left {
  border-right: 10px solid transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.ubside-layout-full-record-region-main {
  padding: 10px;
}

.ubside-layout-full-record-region-right {
  float: right;
  width: 150px;
}
