.wheke-layout2-region {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.wheke-layout2-region-left {
  width: 75%;
}

.wheke-layout2-region-right {
  width: 25%;
}

.wheke-layout2-region-bottom {
  width: 100%;
}
