.view-header-cart p {
  margin-bottom: 5px;
}

.view-header-cart p a {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.exportformat {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  list-style-type: none;
  margin-top: 0;
  padding: 5px 15px;
  position: absolute;
  z-index: 10;
}

.view-content-cart {
  margin-top: 15px;
}
