.ubside-layout-search-result-content {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding-left: 110px;
  position: relative;
  width: 100%;
}

.ubside-layout-search-result-region {
  overflow: hidden;
}

.ubside-layout-search-result-region-left {
  border-right: 10px solid transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.ubside-layout-search-result-region-right {
  padding: 10px;
}
