.wheke-layout1-region {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.wheke-layout1-region-left {
  width: 20%;
}

.wheke-layout1-region-main {
  width: 80%;
}

.wheke-layout1-region-main-left {
  width: 70%;
}

.wheke-layout1-region-main-right {
  width: 30%;
}

.wheke-layout1-region-main-bottom,
.wheke-layout1-region-bottom {
  width: 100%;
}
