.view-id-calendrier.view-display-id-block_1 table.mini td,
.view-id-calendrier.view-display-id-block_1 table.mini td.empty {
  background-color: #dfdfdf;
}

.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-prev a,
.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-next a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.7em;
  margin: 0;
  padding: 0 10px;
  width: 100%;
}

.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-prev,
.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-next {
  padding: 0;
}

.view-id-calendrier.view-display-id-block_1 table.mini th {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.view-id-calendrier.view-display-id-block_1 table.mini td a {
  text-decoration: none;
  font-weight: bold;
}
