.wheke-layout3-region,
.wheke-layout3-container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.wheke-layout3-container-top {
  width: 100%;
}

.wheke-layout3-region-top1 {
  width: 20%;
}

.wheke-layout3-container-top-right {
  width: 80%;
}

.wheke-layout3-region-top2 {
  width: 70%;
}

.wheke-layout3-region-top3 {
  width: 30%;
}

.wheke-layout3-region-top4 {
  width: 100%;
}

.wheke-layout3-region-middle {
  width: 100%;
}

.wheke-layout3-container-bottom {
  width: 100%;
}

.wheke-layout3-container-bottom-left {
  width: 70%;
}

.wheke-layout3-region-bottom1,
.wheke-layout3-region-bottom2 {
  width: 50%;
}

.wheke-layout3-region-bottom3 {
  width: 100%;
}

.wheke-layout3-region-bottom4 {
  width: 30%;
}
