.wheke-layout-2col-30-70-region {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.wheke-layout-2col-30-70-region-left {
  width: 30%;
}

.wheke-layout-2col-30-70-region-right {
  width: 70%;
}
